/*Colors Alternativ 1*/
body {
  color: #051e37 rgb(5, 30, 55);
  color: #06bdd9 rgb(6, 189, 217);
  color: #ba41a5 rgb(186, 65, 165);
  color: #076280 rgb(7, 98, 128);
  color: #04455e rgb(4, 69, 94);
  color: #0686a8 rgb(6, 134, 168);
  color: #551059 rgb(85, 16, 89);
  color: #040b12 rgb(4, 11, 18);
  color: #142d57 rgb(20, 45, 87);
  color: #165d6a rgb(22, 93, 106);
}
/*
#051e37 rgb(5,30,55)
#06bdd9 rgb(6,189,217)
#ba41a5 rgb(186,65,165)
#076280 rgb(7,98,128)
#04455e rgb(4,69,94)
#0686a8 rgb(6,134,168)
#551059 rgb(85,16,89)
#040b12 rgb(4,11,18)
#142d57 rgb(20,45,87)
#165d6a rgb(22,93,106)*/
