body {
  margin: 0;
  padding-top: 5em;
  overflow: hidden;
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(images/QuestionsMark.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

ul {
  list-style: none;
  font-size: 4em;
}

a {
  text-decoration: none;
  color: blue;
}

a:hover {
  color: aquamarine;
}

.indexH1 {
  text-align: center;
  font-size: 6em;
  color: antiquewhite;
}

.buttonsToo ul {
  display: flex;
  justify-content: space-around;
}

footer {
  color: antiquewhite;
  bottom: 0;
  text-align: center;
}
