footer {
  /*padding: 20px;*/
  bottom: 0;
  font-family: "Gill-Sans";
  background-color: #040b12;
  color: white;
  padding: 0 20px;
}

.footerContent {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0 10px 0;
}

.copyright {
  display: flex;
  align-items: center;
}

.copyright span {
  padding-right: 9px;
  font-family: "Neon-Display";
}

.footerLinks {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footerLinks ul {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.footerContent ul li {
  display: inline;
  margin: 0 20px;
}
