@font-face {
  font-family: "Neon-Display";
  src: url("//db.onlinewebfonts.com/t/6207747900cfb386801d961165d4f933.eot");
  src: url("//db.onlinewebfonts.com/t/6207747900cfb386801d961165d4f933.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/6207747900cfb386801d961165d4f933.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/6207747900cfb386801d961165d4f933.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/6207747900cfb386801d961165d4f933.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/6207747900cfb386801d961165d4f933.svg#Neon-Display")
      format("svg");
}

header {
  padding: 10px 20px;
  background-color: rgba(5, 30, 55, 0.7);
}

.navbarIcon {
  display: none;
  font-size: 3em;
}

.hamburgerButton {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  margin-top: 10px;
}

.hamburgerButton .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.logo {
  font-family: "Neon-Display";
  font-size: 2em;
  color: #06bdd9;
  margin: 0;
  transition-duration: 500ms;
  /*transform: rotate(90deg);*/
}

.logo:hover {
  color: white;
  transform: scale(1.09);
  cursor: pointer;
}

.navbar {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbarLinks a {
  color: #06bdd9;
  transition-duration: 350ms;
}

.navbarLinks a:hover {
  color: white;
}

.navbar ul li {
  display: inline;
  list-style: none;
  margin: 0 20px;
}
