body {
    overflow: hidden;
}

main {
    display: flex;
}

.rightContent {
    padding: 3px;
    position: absolute;
    background-color:#051e37;
    height: 100%;
    right: 0;
    /*height: 87.5%;*/
}

.socialMedia a {
    display: flex;
    padding: 20px;
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    left: 100000000px;
    color: #06bdd9;
    transition: 500ms;
}

.socialMedia a:hover {
    color: white;
}

.socialMedia ul {
    padding: 0;
}

img {
    display: none;
    width: 500px;
    height: auto;
}

.leftContent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.socialMedia ul li {
  display: inline;
  padding: 1rem;
}






/*
body {
    overflow: hidden;
  }

    .rightContent {
      padding: 3px;
      position: absolute;
      background-color: #051e37;
      height: 100%;
      right: 0;
      /*height: 87.5%;
    }
    
    .socialMedia a {
      display: flex;
      padding: 20px;
      writing-mode: vertical-lr;
      transform: rotate(-180deg);
      left: 100000000px;
      color: #06bdd9;
      transition: 500ms;
    }
    
    .socialMedia a:hover {
      color: white;
    }
  
    .socialMedia ul {
        padding: 0;
    }
  
    img {
        display: none;
        width: 300px;
        height: auto;
    }

    .leftContent {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
    /*
    
    .socialMedia ul li {
      display: inline;
      padding-left: 1rem;
    }
    
    /*
    .socialMedia a {
      writing-mode: vertical-lr;
      transform: rotate(-180deg);
      display: block;
      justify-content: space-evenly;
      color: #06bdd9;
    }
    