/*------------- @MEDIA ------------- @MEDIA -------------*/
@media screen and (max-width: 1784px) {
  /*------------- Header -------------*/
}

/*------------- @MEDIA ------------- @MEDIA -------------*/
@media screen and (max-width: 769px) {
  /*------------- Header -------------*/
  .hamburgerButton {
    display: flex;
  }

  .navbarLinks {
    display: none;
  }
}

@media screen and (max-width: 426px) {
  .footerContent {
    display: flex;
    flex-wrap: wrap;
  }

  .copyright-logo {
    display: block;
    text-align: center;
  }

  .footerLinks ul {
  }
}

/*1784 x 1080*/
