* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: white;
  height: 100vh;
}

/*------------------  Scrollen  ------------------*/

/* width */
::-webkit-scrollbar {
  width: 0;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #142d57;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0b6280;
}

/*----------------  Kod för backgrundsbilderna ----------------*/
.neonMask {
  min-height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.neonMask {
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7));
}
